<div class="show-container">
  <% if current_page?(user_path) %>
    <%= render 'layouts/show_header' %>
      <% if @user.id == current_user.id %>
        <p class="d-flex justify-content-end">
          <%= link_to "プロフィール編集", edit_user_registration_path(@user), class: "btn-sm btn-success" %>
        </p>
      <% end %>
  <% end %>

  <main class="show-main">
      <%= @user.name %>
      <% @messages.each do |msg| %>
        <% if msg.sender_id == current_user.id %>
          <div style="text-align: right;">
            <%= msg.sender_id %>
            <%= msg.recipient_id %>
            <%= current_user.name%>
            <%= msg.message %>
            <br>
            <%= msg.created_at%>
            <br>
            <%= link_to "編集", edit_message_path(msg.id), class: "btn btn-primary" %>
          </div>
        <% elsif msg.sender_id == @user.id %>
          <div style="text-align: left;">
            <%= msg.sender_id %>
            <%= msg.recipient_id %>
            <%= msg.message %>
            <br>
            <%= msg.created_at%>
            <br>
          </div>
        <% end %>
      <% end %>
  </main>

  <footer class="show-footer">
    <div>
    <%= form_with url: messages_path do |f| %>
      <p>message</p>
      <%= f.text_area :message %></br>
      <%= f.hidden_field :recipient_id, value: params[:id] %>

      <%= f.submit '送信'%>
    <% end %>
    </div>
  </footer>
</div>