    <header>
      <div class="show_header">
        <% if user_signed_in? %>
            <div><%= link_to "#{current_user.name}", edit_user_registration_path(@user), class: "text-white" %></div>
            <div><%= link_to "トップ", root_path, class: "text-white" %></div>
            <div><%= link_to "ユーザー一覧", users_path, class: "text-white" %></div>
            <div><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %></div>
            <% if @user.id == current_user.id %>
              <p class="d-flex justify-content-end">
                <div><%= button_to "アカウント削除", user_path(current_user.id), method: :patch, data: { turbo_confirm: "本当に削除しますか?" }, class: "text-white" %></div>
              </p>
            <% end %>
        <% else %>
            <div><%= link_to "サインアップ", new_user_registration_path, class: "text-white" %></div>
            <div><%= link_to "ログイン", new_user_session_path, class: "text-white" %></div>
        <% end %> 

          <div class="main">
            <% flash.each do |key, value| %>
                <p class="alert alert-<%= key %>">
                  <%= value %>
                </p>
            <% end %>
        </div>
      </div>
    </header> 