<!DOCTYPE html>
<html>
  <head>
    <title>MessageApp2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

      <header>
        <% if user_signed_in? %>
            <div><%= current_user.name %></div>
            <div><%= link_to "トップ", root_path, class: "text-white" %></div>
            <div><%= link_to "ユーザー一覧", users_path, class: "text-white" %></div>
            <div><%= link_to "新規投稿", new_message_path, class: "text-white" %></div>
            <div><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %></div>
        <% else %>
            <div><%= link_to "サインアップ", new_user_registration_path, class: "text-white" %></div>
            <div><%= link_to "ログイン", new_user_session_path, class: "text-white" %></div>
        <% end %> 
          <div class="main">
            <% flash.each do |key, value| %>
                <p class="alert alert-<%= key %>">
                  <%= value %>
                </p>
            <% end %>
          </div>
      </header> 
        <%= yield %>
        

  </body>
</html>
