<!DOCTYPE html>
<html>
  <head>
    <title>MessageApp2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if request.path == "/users/#{params[:id]}" %>
    <% else %>
      <%= render partial: "layouts/header" %>
    <% end %>


        <%= yield %>
        

  </body>
</html>
